<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyRecipes"
        tools:targetApi="31">

        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.DetailActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:parentActivityName=".ui.MainActivity">
            <!-- The parent activity meta-data should be added to support lower API levels -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.AddActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.EditActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:parentActivityName=".ui.DetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.DetailActivity" />
        </activity>

    </application>

</manifest>
